body {
    cursor: auto;
    -webkit-user-select: none;
    margin:0px;
    overflow: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

#title {
    -webkit-app-region:drag;
    cursor: pointer;
}

#titlebar {
    display: grid;
    grid-template-columns: auto 50px 30px 30px 30px;
    height: 20px;
    overflow: hidden;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: white;
}

#titlebar div {
    padding-left: 10px;
    padding-right: 5px;
}

#minBtn:hover {
    background-color: #dddddd;
}

#maxBtn:hover {
    background-color: #dddddd;
}

#closeBtn:hover {
    background-color: #ff2222;
}




#content {
    width:100%;
    background-image: url("../../background.jpg");
    background-size: cover;
}

#content div {
    border-style: solid;
    border-width: 2px;
}

#leftbar {
    background-color: rgba(64, 64, 64, .2);
    z-index: 1;
    position:fixed;
    left: 0px;
    top: 20px;
    width: 100px;
    border-color: black;
}

#searchBtn {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

#maincontent {
    z-index: 0;
    position:fixed;
    left: 100px;
    top: 20px;
    right: 100px;
    border-color:red;
}

#searchPanel {
    z-index: 1;
    transition: .5s ease all;
    position: fixed;
    overflow-x: none;
    overflow-y: scroll;
    background-color: rgba(64, 64, 64, .4);
}

#contentTitle {
    color: white;
}

#contentSrc {
    border: none;
    background-color: rgba(64,64,64,.7);
}

#rightbar {
    background-color: rgba(64, 64, 64, .2);
    z-index: 2;
    position:fixed;
    right: 0px;
    top: 20px;
    width: 100px;
    border-color: black;
    transition: .5s ease all;
}

#sourcesLoad {
    width: 100%;
    background-color: rgba(64,64,64,.7);
    height: 100%;
}

#rightbar:hover {
    width: 300px;
}