body {
    cursor: auto;
    margin:0px;
    overflow: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

#search {
    position:fixed;
    top: 0px;
    background-color: rgba(64, 64, 64, .2);
    padding: 10px;
    width: 100%;
}

#searchInp {
    border:none;
    background-color: rgba(64, 64, 64, .2);
    height: 40px;
    color: white;
    padding-left: 10px;
}

#searchInp:focus {
    outline: none;
    border-color: rgba(128,128,128,.5);
    border-style: solid;
    border-width: 1px;
}

#searchBtn {
    background-color: rgba(64, 64, 64, .5);
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    color: white;
}

#searchBtn:hover {
    background-color: rgba(128,128,128,.5)
}

#source {
    position:fixed;
    bottom: 0px;
    right: 0px;
    color: white;
}

#source a {
    color: white;
}

#content {
    color: white;
}

#results {
    position: fixed;
    z-index: 0;
    overflow-y: scroll;
    top: 60px;
    width: 100%;
    transition: opacity .5s;
}

.aniTile {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: rgba(64, 64, 64, .2); 
    width: 400px;
}

.aniTile:hover {
    background-color: rgba(128, 128, 128, .2); 
}

.aniTile img {
    display: block;
    height: 100px;
    object-fit: contain;
}

.aniTile div {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.aniTile #title {
    display: block;
    font-size: 1.5em;
}

.aniTile #score {
    padding-left: 5px;
    padding-right: 5px;
    border-right: solid white 1px;
}

.aniTile #eps {
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid white 1px;
}

#episodes {
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    top: 60px;
    width: 100%;
    transition: opacity .5s;
}

.epTile {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: rgba(64, 64, 64, .2);
    width: 200px;
    font-size: 1em;
}

.epTile:hover {
    background-color: rgba(128, 128, 128, .2);
}



.lds-ellipsis {
    z-index: 3;
    background-color: rgba(64, 64, 64, .5);
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: -32x;
    left: 50%;
    margin-left: -32px;
    transform: scale(2);
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  